<% @songs.each do |song| %>
  <div class="song">
    <p>Title: <%= song.title %></p>
    <p><small>Added by: <%= song.author %></small></p>
    <% if song.url? %>
      <p>url: <a href = "<%= song.url %>"><%= song.url %></a></p>
    <% end %>
  </div>
<% end %>

<hr/>
<h2><a href = "/songs/new">Add a new song</a></h2>