<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LH Music Wall</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../stylesheets/application.css">
  <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../../stylesheets/star-rating.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <style>
    html {background: transparent;}
    body {background: url(/images/background.jpg);
          background-attachment: fixed;
          color: white;}
  </style>
  <style type="text/css">
      .border{
        margin: 20px;
      }
  </style>
</head>
<body>
  <%= erb :'navbar' %>
  <div class="border">
    <%= yield %>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../javascript/application.js"></script>
    <script src="../../javascript/star-rating.min.js"></script>
    <script src="../../javascript/star-rating.min.js"></script>
  </div>
</body>
</html>
