<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LH Music Wall</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../bootstrap/css/bootstrap-theme.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  
  <style type="text/css">
      .border{
        margin: 20px;
      }
  </style>
</head>
<body>
  <div class="border">
    <%= erb :'navbar' %>
    <%= yield %>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../javascript//application.js"></script>
  </div>
</body>
</html>
