 <div class="container-fluid">
      <nav role="navigation" class="navbar navbar-inverse">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" data-target=".navbarCollapse" data-toggle="collapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <!-- Collection of nav links and other content for toggling -->
      <div class="collapse navbar-collapse navbarCollapse">
          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <% if current_user %>
                <li><a href="/songs">Songs</a></li>
                <li><a href="/songs/new">Add Song</a></li>
              <% else %>
                <li><a href="/users/login">Songs</a></li>
                <li><a href="/users/login">Add Song</a></li>
              <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li>
              <a href="/logout">Logout of <%= current_user.email%></a>
              </li>
            <% else %>
              <li><a href="/users/login">Login</a></li>
            <% end %>
              
          </ul>
      </div>
    </nav>
  </div>